@font-face {
  font-family: "iransans";
  src: url("../fonts/IRANSans.eot") format("eot"),
    url("../fonts/IRANSans.woff") format("woff"),
    url("../fonts/IRANSans.ttf") format("truetype");
}

body {
  margin: 0;
  font-family: iransans, Helvetica, sans-serif;
  background-color: #f4f4f4;
}

a {
  color: #000;
}

/** header */

.header {
  top: 0;
  background-color: #fff;
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.1);
  position: fixed;
  width: 100%;
  z-index: 3;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #fff;
}

.header li a {
  display: block;
  padding: 20px 20px;
  border-right: 1px solid #f4f4f4;
  text-decoration: none;
}

.header li a:hover,
.header .menu-btn:hover {
  background-color: #f4f4f4;
}

.header .logo {
  display: block;
  float: left;
  font-size: 2em;
  padding: 10px 20px;
  text-decoration: none;
}

/* menu */

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height 0.2s ease-out;
}

/* menu icon */

.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  transition: background 0.2s ease-out;
  width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #333;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 800px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

/* 48em = 768px */

@media (min-width: 65em) {
  .header li {
    float: right;
  }
  .header li a {
    padding: 20px 30px;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
}
/** end header */

.container {
  padding: 10px;
  margin: 100px 40px;
  direction: rtl;
  text-align: right;
  overflow: auto;
}
/*
- - - - basic prettyfying css - - - */
table {
  font-family: iransans, sans-serif;
  border: 1px solid #928585e6;
  padding: 5px;
  border-radius: 4px;
}

th,
td {
  padding: 10px;
}
tr td {
  vertical-align: middle;
}

.first {
  text-align: center;
  border-left: 1px solid white;
}

thead th {
  text-align: right;
}

tbody tr:nth-of-type(odd) {
  background: #e0e0e0;
}

.table-td-overflow {
  word-break: break-all;
  border-left: 0.3px solid white;
  border-right: 0.3px solid white;
}

/* 
- - - Responsivise at breakpoint - - - - */
@media (max-width: 600px) {
  /* make tds into single column full width rows */
  tr,
  td {
    display: block;
    width: 100%;
    padding: 5px;
  }

  /* hide table head */
  thead {
    display: none;
  }

  /* place data attribute before td as a label */
  td[data-header-title]:before {
    content: attr(data-header-title) ":";
    display: block;
    color: #666;
    /* labels will stack by default but optionally float to left */
    float: left;
    width: 100px;
  }

  tbody {
    border-collapse: collapse;
    display: block;
  }

  tbody tr {
    margin-bottom: 20px;
    border-bottom: 10px solid #222222;
    display: block;
  }

  /* unset background used on desktop view */
  tbody tr:nth-of-type(odd) {
    background: transparent;
  }

  tr td:nth-of-type(odd) {
    background: #eee;
  }
}

/*** form styles ***/
*,
*:after,
*:before {
  box-sizing: border-box;
}

.center-text {
  text-align: center;
}

#form-main-container {
  display: block;
  position: relative;
  background-color: #fff;
  border-color: #d8e2e7;
  border: 1px solid #e5e5e5;
  border-radius: 0.25rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  padding: 1%;
}

#tabs {
  position: relative;
  width: 100%;
  margin: 0 auto;
  font-weight: 300;
  font-size: 1.5rem;
  text-align: center;
}

#tabs ul {
  position: relative;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -webkit-box;
  display: flex;
  margin: 0 auto;
  padding: 0;
  max-width: 90%;
  list-style: none;
  -webkit-box-orient: horizontal;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

#tabs ul li {
  position: relative;
  display: block;
  width: 100%;
  margin: 0.5%;
  padding: 1%;
  text-align: center;
  flex: 1;
  z-index: 1;
  border-radius: 2%;
}

#tabs ul li a {
  position: relative;
  display: block;
  color: #343434;
  overflow: visible;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  transition: border 0.5s;
  white-space: nowrap;
  line-height: 2.5;
  text-decoration: none;
  outline: none;
}

#tabs ul li a:hover {
  border-bottom: 1px solid rgba(0, 0, 0, 1);
  transition: border 0.5s;
}

#tabs ul li.active-tab a:before {
  position: absolute;
  top: 100%;
  left: 50%;
  width: 0;
  height: 0;
  border: solid transparent;
  content: "";
  pointer-events: none;
  border-width: 1rem;
  border-top-color: rgba(0, 0, 0, 0.2);
  margin-left: -1rem;
  transition: border 0.5s;
}

#tabs ul li.active-tab a:hover:before {
  border-top-color: rgba(0, 0, 0, 0.5);
  transition: border 0.5s;
}

#tabs ul li.active-tab a:after {
  position: absolute;
  top: 100%;
  left: 50%;
  width: 0;
  height: 0;
  border: solid transparent;
  content: "";
  pointer-events: none;
  border-width: 0.9rem;
  border-top-color: #fff;
  margin-left: -0.9rem;
}

#form-area {
  position: relative;
  overflow: hidden;
  width: 100%;
  font-weight: 300;
  font-size: 1.2rem;
  margin: 1rem;
  margin-top: 2rem;
}

#form-title {
  border-bottom: solid 1px #d8e2e7;
  padding-bottom: 0.8rem;
  width: 97%;
  font-weight: 600;
  color: #8120a1;
}

#form-body {
  margin-top: 2rem;
}

.col-3 {
  float: left;
  width: 30%;
  margin: 1%;
  padding: 1%;
}

.col-6 {
  display: inline-block;
  width: 62.5%;
  margin: 1%;
  padding: 1%;
}

.col-12 {
  display: inline-block;
  width: 95%;
  margin: 1%;
  padding: 1%;
}

.col-2 {
  display: inline-block;
  width: 17%;
  margin: 1%;
  padding: 1%;
}

.row {
  display: block;
  margin: 2%;
  margin-top: 0;
  padding: 2%;
  padding-top: 0;
}

.left-align {
  float: left;
}

.right-align {
  float: right;
}

.button-area {
  margin-top: 1%;
  margin-right: 5%;
  margin-left: 1%;
  padding: 2%;
}

.button-save-area {
  margin-top: 1%;
  margin-left: 10%;
  padding: 2%;
}

.form-group {
  margin-bottom: 0.2rem;
}

fieldset {
  border: 0;
  padding: 0;
}

.form-label {
  display: block;
  margin-bottom: 6px;
  font-size: 1rem;
}

label {
  margin: 0;
  display: block;
}

.form-control {
  box-shadow: none;
  font-size: 1rem;
  color: #343434 !important;
  width: 100%;
  padding: 0.375rem 0.75rem;
  line-height: 1.5;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  -webkit-border-radius: 0.25rem;
  border-radius: 0.25rem;
}

textarea {
  resize: none;
  border: 0.1rem solid #ccc;
  border-radius: 0.25rem;
  width: 100%;
}

.btn {
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #ffffff;
  background: #9fb2bb;
  color: #fff;
  font-weight: 500;
  display: inline-block;
  padding: 0.375rem 1rem;
  font-size: 1rem;
  line-height: 1.5;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  border-radius: 2px;
}

.btn-danger {
  background-color: #d63333;
  border-color: #d63333;
  border-radius: 4px;
}

.btn-info {
  background-color: #00aeff;
  border-color: #00aeff;
  border-radius: 8px;

}

.btn-secandry {
  background-color: #8400ff;
  border-color: #8400ff;
  border-radius: 8px;

}

.btn-cancel {
  background-color: #8120a1;
  border-color: #8120a1;
}

.btn-send {
  background-color: #6b7a85;
  border-color: #6b7a85;
}

.btn-save {
  background-color: #6b7a85;
  border-color: #6b7a85;
}

label {
  color: #777;
  font-weight: 600;
  text-transform: camel;
}

.form-control {
  color: #777 !important;
}

a {
  text-decoration: none;
}


/**  **/
input, select, button, textarea {
  font-family: iransans;
}


.error {
  border-right: 6px solid #8120a1 !important;
  border-radius: 8px !important;
}


/* Modal Overlay Styles */

.modal-overlay {
  position: fixed;
  z-index: 999;
  background: rgba(0, 0, 0, 0.7);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.modal-overlay .modal {
  width: 50%;
  background: #fff;
  padding: 20px;
  border-radius: 7px;
  margin: 0 auto;
  margin-top: 0 !important;
  position: relative;
}

.modal-overlay .modal .close {
  position: absolute;
  top: 7px;
  left: 15px;
  color: #a90909;
  font-size: 20px;
  cursor: pointer;
}

.modal-overlay .modal h3.modal-title {
  padding: 0;
  margin: 0 0 30px 0;
}

.modal-overlay .modal h3.modal-content {}

.field-row {
  margin: 10px 0;
}

.field-row::after {
  content: ' ';
  display: block;
  clear: both;
  width: 100%;
}

.field-row div.field-title {
  width: 20%;
  float: right;
}

.field-row div.field-content {
  width: 80%;
  float: right;
}

.field-row textarea,
.field-row select,
.field-row input {
  line-height: 36px;
  padding: 0 10px;
  border-radius: 5px;
  border: 1px solid #e7e7e7;
  font-size: 16px;
  font-weight: 400;
  width: 97%;
}

input[type="submit"] {
  background: #8400ff;
  color: #fff;
  cursor: pointer;
}

input[type="submit"]:hover {
  opacity: 0.7;
}

.center {
  margin: auto;
  padding: 10px;
}