@font-face{
  font-family:'iransans';
     src:url('../fonts/IRANSans.eot') format('eot'),
         url('../fonts/IRANSans.woff') format('woff'),
         url('../fonts/IRANSans.ttf') format('truetype');
}


body {
  margin: 0;
  font-family: iransans, Helvetica, sans-serif;
  background-color: #f4f4f4;
}


a {
  color: #000;
}

/** header */

.header {
  top: 0;
  background-color: #fff;
  box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
  position: fixed;
  width: 100%;
  z-index: 3;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #fff;
}

.header li a {
  display: block;
  padding: 20px 20px;
  border-right: 1px solid #f4f4f4;
  text-decoration: none;
}

.header li a:hover,
.header .menu-btn:hover {
  background-color: #f4f4f4;
}

.header .logo {
  display: block;
  float: left;
  font-size: 2em;
  padding: 10px 20px;
  text-decoration: none;
}

/* menu */

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}

/* menu icon */

.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #333;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

/* 48em = 768px */

@media (min-width: 48em) {
  .header li {
    float: left;
  }
  .header li a {
    padding: 20px 30px;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
}
/** end header */



.container {
  padding: 10px;
  margin: 100px 40px;
  direction: rtl;
  text-align: right;
  overflow: auto;
}
/*
- - - - basic prettyfying css - - - */
table {
  font-family: iransans, sans-serif;
  border: 1px solid #928585e6;
  padding: 5px;
  border-radius: 4px;
}

th,
td {
  padding: 10px;
}
tr td {
  vertical-align: middle;
}

.first {
  text-align: center;
  border-left: 1px solid white;
}

thead th {
  text-align: right;
}

tbody tr:nth-of-type(odd) {
  background: #e0e0e0;
}

.table-td-overflow {
      word-break: break-all;
      border-left: .3px solid white;
      border-right: .3px solid white;
}


/* 
- - - Responsivise at breakpoint - - - - */
@media (max-width: 600px) {

  /* make tds into single column full width rows */
  tr,
  td {
      display: block;
      width: 100%;
      padding: 5px;
  }

  /* hide table head */
  thead {
      display: none;
  }

  /* place data attribute before td as a label */
  td[data-header-title]:before {
      content: attr(data-header-title)':';
      display: block;
      color: #666;
      /* labels will stack by default but optionally float to left */
      float: left;
      width: 100px;

  }

  tbody {
      border-collapse: collapse;
      display: block;
  }

  tbody tr {
      margin-bottom: 20px;
      border-bottom: 10px solid #222222;
      display: block;
  }

  /* unset background used on desktop view */
  tbody tr:nth-of-type(odd) {
      background: transparent;
  }

  tr td:nth-of-type(odd) {
      background: #eee;
  }

}